{% extends "base.html" %}
{% block content %}
{% load static %}

<section id="art-portfolio" class="home-art-portfolio" style="scroll-margin-top: 5vw;">
    <div class="card text-center mx-auto art-projects-card">
        <div class="card-header">
            <h2 class="card-title" style="color: white;"> Oil Paintings </h2>
        </div>
        <div class="card-body">
            <!-- images hosted on https://imgbb.com -->
            <div class="row">
                <div class="col-lg-4 custom-thumbnail">
                    <a href="https://i.ibb.co/RTVWwDs/IMG-1987.jpg" class="fancybox" rel="ligthbox">
                        <img  src="https://i.ibb.co/rcY440Y/IMG-1987-min.jpg" class="zoom img-fluid art-img"  alt="">
                    </a>
                </div>
                <div class="col-lg-4 custom-thumbnail">
                    <a href="https://i.ibb.co/3frv8c9/IMG-1988.jpg" class="fancybox" rel="ligthbox">
                        <img  src="https://i.ibb.co/ys4TSrK/IMG-1988-min.jpg" class="zoom img-fluid art-img"  alt="">
                    </a>
                </div>
                <div class="col-lg-4 custom-thumbnail">
                    <a href="https://i.ibb.co/wphS8K9/IMG-1991.jpg" class="fancybox" rel="ligthbox">
                        <img  src="https://i.ibb.co/My0dgF3/IMG-1991-min.jpg" class="zoom img-fluid art-img"  alt="">
                    </a>
                </div>
                <div class="col-lg-4 custom-thumbnail">
                    <a href="https://i.ibb.co/1nVhDSf/IMG-1990.jpg" class="fancybox" rel="ligthbox">
                        <img  src="https://i.ibb.co/ydV3HT5/IMG-1990-min.jpg" class="zoom img-fluid art-img column-img"  alt="">
                    </a>
                    <a href="https://i.ibb.co/Vw9vVtX/IMG-1994.jpg" class="fancybox" rel="ligthbox">
                        <img  src="https://i.ibb.co/4jHzj5D/IMG-1994-min.jpg" class="zoom img-fluid art-img"  alt="">
                    </a>
                </div>
                <div class="col-lg-4 custom-thumbnail">
                    <a href="https://i.ibb.co/X84KPGj/IMG-1992.jpg" class="fancybox" rel="ligthbox">
                        <img  src="https://i.ibb.co/tH0B61g/IMG-1992-min.jpg" class="zoom img-fluid art-img"  alt="">
                    </a>
                </div>
                <div class="col-lg-4 custom-thumbnail">
                    <a href="https://i.ibb.co/qsn3DLj/IMG-1993.jpg" class="fancybox" rel="ligthbox">
                        <img  src="https://i.ibb.co/pf1kWsV/IMG-1993-min.jpg" class="zoom img-fluid art-img"  alt="">
                    </a>
                </div>
           </div>
        </div>
    </div>


    <div class="card text-center mx-auto art-projects-card">
        <div class="card-header">
            <h2 class="card-title" style="color: white;"> Sketches </h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-4 custom-thumbnail">
                    <a href="https://i.ibb.co/zVnMyfs/origin-gallery-uid-91768507-7-E74-4-B0-D-AD2-E-D7-AB0750-CFBC-1626914757996-source-other.jpg" class="fancybox" rel="ligthbox">
                        <img  src="https://i.ibb.co/9pJhCCn/sketch1-min.jpg" class="zoom img-fluid art-img"  alt="">
                    </a>
                </div>
                <div class="col-lg-4 custom-thumbnail">
                    <a href="https://i.ibb.co/JBphP2T/origin-gallery-uid-91768507-7-E74-4-B0-D-AD2-E-D7-AB0750-CFBC-1626914929082-source-other.jpg" class="fancybox" rel="ligthbox">
                        <img  src="https://i.ibb.co/GJzH13p/sketch2-min.jpg" class="zoom img-fluid art-img"  alt="">
                    </a>
                </div>
                <div class="col-lg-4 custom-thumbnail">
                    <a href="https://i.ibb.co/KrLHYx5/origin-gallery-uid-91768507-7-E74-4-B0-D-AD2-E-D7-AB0750-CFBC-1626914895395-source-other.jpg" class="fancybox" rel="ligthbox">
                        <img  src="https://i.ibb.co/KzQgS5F/sketch3-min.jpg" class="zoom img-fluid art-img"  alt="">
                    </a>
                </div>
                <div class="col-lg-4 custom-thumbnail">
                    <a href="https://i.ibb.co/z4pfLqL/origin-gallery-uid-91768507-7-E74-4-B0-D-AD2-E-D7-AB0750-CFBC-1626914971101-source-other.jpg" class="fancybox" rel="ligthbox">
                        <img  src="https://i.ibb.co/Snrsb5G/sketch4-min.jpg" class="zoom img-fluid art-img"  alt="">
                    </a>
                </div>
                <div class="col-lg-4 custom-thumbnail">
                    <a href="https://i.ibb.co/BgZDX9G/origin-gallery-uid-91768507-7-E74-4-B0-D-AD2-E-D7-AB0750-CFBC-1626914837130-source-other.jpg" class="fancybox" rel="ligthbox">
                        <img  src="https://i.ibb.co/Rb5yd5Q/sketch5-min.jpg" class="zoom img-fluid art-img"  alt="">
                    </a>
                </div>
                <div class="col-lg-4 custom-thumbnail">
                    <a href="https://i.ibb.co/Nm28PXz/origin-gallery-uid-91768507-7-E74-4-B0-D-AD2-E-D7-AB0750-CFBC-1626914793130-source-other.jpg" class="fancybox" rel="ligthbox">
                        <img  src="https://i.ibb.co/Jk89CRy/sketch6-min.jpg" class="zoom img-fluid art-img"  alt="">
                    </a>
                </div>
                <div class="col-lg-4 custom-thumbnail">
                    <a href="https://i.ibb.co/HTmZ56N/origin-gallery-uid-91768507-7-E74-4-B0-D-AD2-E-D7-AB0750-CFBC-1626914876002-source-other.jpg" class="fancybox" rel="ligthbox">
                        <img  src="https://i.ibb.co/xsGbJtr/sketch7-min.jpg" class="zoom img-fluid art-img"  alt="">
                    </a>
                </div>
                <div class="col-lg-4 custom-thumbnail">
                    <a href="https://i.ibb.co/fGhxpJM/origin-gallery-uid-91768507-7-E74-4-B0-D-AD2-E-D7-AB0750-CFBC-1626914814427-source-other.jpg" class="fancybox" rel="ligthbox">
                        <img  src="https://i.ibb.co/RCGYyG0/sketch8-min.jpg" class="zoom img-fluid art-img"  alt="">
                    </a>
                </div>
                <div class="col-lg-4 custom-thumbnail">
                    <a href="https://i.ibb.co/JcsMFyT/origin-gallery-uid-91768507-7-E74-4-B0-D-AD2-E-D7-AB0750-CFBC-1626914953102-source-other.jpg" class="fancybox" rel="ligthbox">
                        <img  src="https://i.ibb.co/64VWsH4/sketch9-min.jpg" class="zoom img-fluid art-img"  alt="">
                    </a>
                </div>
           </div>
        </div>
    </div>


    <div class="card text-center mx-auto art-projects-card">
        <div class="card-header">
            <h2 class="card-title" style="color: white;"> Digital Art </h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-4 custom-thumbnail">
                    <a href="https://i.ibb.co/pd7hcNg/IMG-2019.jpg" class="fancybox" rel="ligthbox">
                        <img  src="https://i.ibb.co/ccgfBBP/IMG-2019-min.jpg" class="zoom img-fluid art-img column-img"  alt="">
                    </a>
                    <a href="https://i.ibb.co/ck59d1Y/IMG-2016.jpg" class="fancybox" rel="ligthbox">
                        <img  src="https://i.ibb.co/RgtRyPR/IMG-2016-min.jpg" class="zoom img-fluid art-img column-img"  alt="">
                    </a>
                    <a href="https://i.ibb.co/4828yTM/IMG-2022.jpg" class="fancybox" rel="ligthbox">
                        <img  src="https://i.ibb.co/CzxNx01/IMG-2022-min.jpg" class="zoom img-fluid art-img"  alt="">
                    </a>
                </div>
                <div class="col-lg-4 custom-thumbnail">
                    <a href="https://i.ibb.co/DptnmQJ/IMG-2017.jpg" class="fancybox" rel="ligthbox">
                        <img  src="https://i.ibb.co/ZSg77KM/IMG-2017-min.jpg" class="zoom img-fluid art-img column-img"  alt="">
                    </a>
                    <a href="https://i.ibb.co/Mhhnt67/IMG-2021.jpg" class="fancybox" rel="ligthbox">
                        <img  src="https://i.ibb.co/xYjKZ1Q/IMG-2021-min.jpg" class="zoom img-fluid art-img column-img"  alt="">
                    </a>
                    <a href="https://i.ibb.co/wQTNq7B/IMG-2018.jpg" class="fancybox" rel="ligthbox">
                        <img  src=https://i.ibb.co/4f6cjR8/IMG-2018-min.jpg" class="zoom img-fluid art-img"  alt="">
                    </a>
                </div>
                <div class="col-lg-4 custom-thumbnail">
                    <a href="https://i.ibb.co/h2x1ssS/IMG-2023.jpg" class="fancybox" rel="ligthbox">
                        <img  src="https://i.ibb.co/58CWPpg/IMG-2023-min.jpg" class="zoom img-fluid art-img column-img"  alt="">
                    </a>
                    <a href="https://i.ibb.co/bN8HJ4h/IMG-2020.jpg" class="fancybox" rel="ligthbox">
                        <img  src="https://i.ibb.co/3T1HYDP/IMG-2020-min.jpg" class="zoom img-fluid art-img"  alt="">
                    </a>
                </div>
           </div>
        </div>
    </div>

    <div class="card text-center mx-auto art-projects-card">
        <div class="card-header">
            <h2 class="card-title" style="color: white;"> Others </h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-4 custom-thumbnail">
                    <a href="https://i.ibb.co/Cb86Bd0/IMG-2024.jpg" class="fancybox" rel="ligthbox">
                        <img  src="https://i.ibb.co/z4TDhCB/IMG-2024-min.jpg" class="zoom img-fluid art-img column-img"  alt="">
                    </a>
                    <a href="https://i.ibb.co/8jvgX8q/IMG-2006.jpg" class="fancybox" rel="ligthbox">
                        <img  src="https://i.ibb.co/k3W99tH/IMG-2006-min.jpg" class="zoom img-fluid art-img"  alt="">
                    </a>
                </div>
                <div class="col-lg-4 custom-thumbnail">
                    <a href="https://i.ibb.co/PDYbG3K/IMG-2025.jpg" class="fancybox" rel="ligthbox">
                        <img  src="https://i.ibb.co/59r2605/IMG-2025-min.jpg" class="zoom img-fluid art-img column-img"  alt="">
                    </a>
                    <a href="https://i.ibb.co/YQBSz4d/IMG-2027.jpg" class="fancybox" rel="ligthbox">
                        <img  src="https://i.ibb.co/8NR6Xtp/IMG-2027-min.jpg" class="zoom img-fluid art-img"  alt="">
                    </a>
                </div>
                <div class="col-lg-4 custom-thumbnail">
                    <a href="https://i.ibb.co/jhqG6mD/IMG-2026.jpg" class="fancybox" rel="ligthbox">
                        <img  src="https://i.ibb.co/jrXYjYC/IMG-2026-min.jpg" class="zoom img-fluid art-img"  alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    $(window).scroll(function () {
        var docViewTop = $(window).scrollTop() + 100;
        var docViewBottom = docViewTop + $(window).height();

        $( ".art-img" ).each(function(){
            var elemTop = $(this).offset().top;
            var elemBottom = elemTop + $(this).height();
            if ((elemTop <= docViewBottom) && (elemBottom >= docViewTop)) {
                $(this).removeClass('hide');
                $(this).addClass('show');
            } else {
                $(this).removeClass('show');
                $(this).addClass('hide');
            }
        });
    });
        
</script>

<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
<script>
    $(document).ready(function(){
        $(".fancybox").fancybox({
                openEffect: "none",
                closeEffect: "none"
            });
            
            $(".zoom").hover(function(){
                
                $(this).addClass('transition');
            }, function(){
                
                $(this).removeClass('transition');
            });
    });
        
</script>

{% endblock %}