<!DOCTYPE html>
{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

<html lang="en" id="top">
    <head>
        {% block title %}<title>Local Library</title>{% endblock %}
        <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
                    <!-- Add additional CSS in static file -->
                    {% load static %}
                    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
                    <link rel="stylesheet" href="{% static 'css/all.css' %}"> <!--load all styles -->
                    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark sticky-top" style="background-color: #778e90">
            <div class="d-flex w-25 order-0">
                <span style="font-size:200%" class="font-weight-bold text-white">Helen</span>
                <span style="font-size:200%" class="font-weight-bold text-blue">Dai</span>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse justify-content-center order-2" id="collapsingNavbar">
                <ul class="navbar-nav nav-fill w-100">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home' %}">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="nav-link" href="#cs-portfolio">CS Projects<span class="sr-only">(current)</span></a>
                            <div class="dropdown-box">
                                <div class="dropdown-content">
                                    <a class="nav-link" href="{% url 'FullMonteWeb' %}">FullMonteWeb</a>
                                    <a class="nav-link" href="{% url 'PocketTravel' %}">PocketTravel</a>
                                    <a class="nav-link" href="{% url 'ReversiAI' %}">Reversi AI</a>
                                    <a class="nav-link" href="{% url 'GunmanJump' %}">GunmanJump</a>
                                    <a class="nav-link" href="{% url 'BubbleMania' %}">BubbleMania</a>
                                    <a class="nav-link" href="{% url 'Cycle63' %}">Cycle63</a>
                                    <a class="nav-link" href="{% url 'TunerPro' %}">TunerPro</a>
                                    <a class="nav-link" href="{% url 'OregonWildlifeClassifier' %}">Oregon Wildlife Classifier</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#art-portfolio">Artworks<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
            <span class="navbar-text small text-truncate mt-1 w-25 text-right order-1 order-md-last">always show</span>
        </nav>
        <div class="container-fluid">
            {% block content %}{% endblock %}
        </div>
        <button type="button" class="btn btn-floating btn-lg" id="btn-back-to-top" style="background-color: #778e90; color: white; z-index: 99;">
            <i class="fas fa-arrow-up"></i>
        </button>
        <!-- Footer -->
        <footer class="page-footer" id="contact">

            <!-- Footer Elements -->
            <div class="container">
                
                <div class="contact-card text-white">
                    <h2>Contact Me</h2>
                    <p><b>Primary email:</b> helendai23@gmail.com<br><b>Secondary email:</b> xd42@cornell.edu<br><b>Cell:</b> +1 (416) 918-3689</p>
                </div>
        
                <!-- Grid row-->
                <div class="row">
            
                    <!-- Grid column -->
                    <div class="col-md-12 py-5">
                            <!-- Facebook -->
                            <a class="fb-ic" href="https://www.facebook.com/helen.dai.37" target="_blank">
                                <i class="fab fa-facebook-f fa-lg mr-md-5 mr-3 fa-2x text-white"> </i>
                            </a>
                            <!-- GitHub -->
                            <a class="git-ic" href="https://github.com/helen-23" target="_blank">
                                <i class="fab fa-github fa-lg mr-md-5 mr-3 fa-2x text-white"> </i>
                            </a>
                            <!--Linkedin -->
                            <a class="li-ic" href="https://www.linkedin.com/in/xiao-ying-helen-dai" target="_blank">
                                <i class="fab fa-linkedin-in fa-lg mr-md-5 mr-3 fa-2x text-white"> </i>
                            </a>
                            <!--Instagram-->
                            <a class="ins-ic" href="https://www.instagram.com/melonrebellon/" target="_blank">
                                <i class="fab fa-instagram fa-lg fa-2x text-white"> </i>
                            </a>
                    </div>
                    <!-- Grid column -->
            
                </div>
                <!-- Grid row-->
        
            </div>
            <!-- Footer Elements -->
        
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">
                © 2021 Copyright: helendai-portfolio.com
            </div>
            <!-- Copyright -->
        
        </footer>
        <!-- Footer -->
    </body>
</html>

<script>
    //Get the button
    let mybutton = document.getElementById("btn-back-to-top");

    // When the user scrolls down 300 from the top of the document, show the button
    window.onscroll = function () {
        scrollFunction();
    };

    function scrollFunction() {
    if (
        document.body.scrollTop > 300 ||
        document.documentElement.scrollTop > 300
    ) {
        mybutton.style.display = "block";
    } else {
        mybutton.style.display = "none";
    }
    }
    // When the user clicks on the button, scroll to the top of the document
    mybutton.addEventListener("click", backToTop);

    function backToTop() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
    }
</script>