{% extends "base.html" %}
{% block content %}
{% load static %}

<section class="home-intro" id="intro">
    <div class="card shadow-lg rounded mb-3 intro-card" style="max-width: 85vw;">
        <div class="row no-gutters">
            <div class="col-md-6">
                <div id="carouselControls" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselIndicators" data-slide-to="2"></li>
                        <li data-target="#carouselIndicators" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="intro_image" src="{% static 'images/profile_photo2.jpg' %}" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="intro_image" src="{% static 'images/software.jpg' %}" alt="Second slide">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Software</h5>
                                <p>
                                C/C++, Python, Java, Ruby, ActionScript3, HTML/CSS/Javascript
                                </p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="intro_image" src="{% static 'images/hardware.jpg' %}" alt="Third slide">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Hardware</h5>
                                <p>
                                Wires and sensors, Verilog/System Verilog, Assembly, Arduino
                                </p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="intro_image" src="{% static 'images/watercolor.jpg' %}" alt="Fourth slide">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Visual Arts</h5>
                                <p>
                                Digital designs, Photoshop, watercolor, oil painting, sketching
                                </p>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card-body" style="padding: 0rem 0rem 0rem 3vw;">
                    <h1 class="card-title custom-title">
                        I<span>'</span>m Helen<br>Dai<span>.</span>
                    </h1>
                    <h4 class="card-text" style="margin-top: 2vw; color: #463c35;"><i>A High Definition Software Engineer </i><span style="font-size: smaller">😉</span></h4>
                    <p class="card-text" style="color: #463c35;">M.Eng. in Computer Science student @Cornell</p>
                    <a href="#cs-selected" class="btn btn-primary btn-custom" style="margin-top: 4vh;">Project Highlights</a>
                    <a href="#selected-arts" class="btn btn-primary btn-custom" style="margin-top: 4vh;">Artwork Highlights</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row no-gutters">
        <div class="col-6"></div>
        <div class="col-6">
            <div class="card text-center ml-auto greetings-card">
                <div class="card-header">
                    <h2 class="card-title" style="color: white;"> Hi there! </h2>
                </div>
                <div class="card-body">
                    <p class="custom-card-text" style="text-align: center;">Welcome to my site 😃</p>
                    <p class="custom-card-text">I am a Computer Engineering graduate from the University of Toronto and a Master of Engineering in Computer Science student at Cornell Tech, Cornell University. I am passionate about technologies and how we interact with them through accessible and creative ways. Feel free to check out some of my selected projects on this site. Happy browsing!</p>
                    <a href="{% url 'about' %}" class="btn btn-primary btn-custom"> More about me </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="home-cs-selected hide" id="cs-selected" style="padding-top:20vh;">
    <div class="card text-center mx-auto project-background-card">
        <div class="card-header">
            <h2 class="card-title" style="color: white;"> Software/Hardware Project Highlights 💻</h2>
        </div>
        <div class="card-body">
            <div class="row d-flex justify-content-center" style="margin-bottom: 2vh;">
                <div class="col-lg-4 custom-thumbnail d-flex align-items-stretch">
                    <div class="card project-card zoom">
                        <img src="{% static 'images/fullmonte_web.gif' %}" class="img-fluid card-img" alt="">
                        <div class="card-body">
                            <h5 class="card-title project-title">FullMonteWeb</h5>
                            <p class="subtitle"><b>A Web-based Photodynamic Therapy Planning and Optimization Application</b></p>
                            <p class="subtitle">UI Research and Design, Backend Development</p>
                        </div>
                        <a href="{% url 'FullMonteWeb' %}">
                            <div class="hover-overlay"></div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 custom-thumbnail d-flex align-items-stretch">
                    <div class="card project-card zoom">
                        <img src="{% static 'images/pocket_travel.gif' %}" class="img-fluid card-img" alt="">
                        <div class="card-body">
                            <h5 class="card-title">PocketTravel</h5>
                            <p class="subtitle"><b>A Geographical Information System (GIS) Application</b></p>
                            <p class="subtitle">UI Research and Design, Backend Development</p>
                        </div>
                        <a href="{% url 'PocketTravel' %}">
                            <div class="hover-overlay"></div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 custom-thumbnail d-flex align-items-stretch">
                    <div class="card project-card zoom">
                        <img src="{% static 'images/reversi_ai.gif' %}" class="img-fluid card-img" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Reversi AI</h5>
                            <p class="subtitle"><b>A Fun Chess Game AI</b></p>
                            <p class="subtitle">UI Design, Algorithm Research and Implementation</p>
                        </div>
                        <a href="{% url 'ReversiAI' %}">
                            <div class="hover-overlay"></div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 custom-thumbnail d-flex align-items-stretch">
                    <div class="card project-card zoom">
                        <img src="{% static 'images/oregon_wildlife_classifier.gif' %}" class="img-fluid card-img" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Oregon Wildlife Classifier</h5>
                            <p class="subtitle"><b>An ML-based Wildlife Classifier</b></p>
                            <p class="subtitle">ML Research, Implementation, and Analysis</p>
                        </div>
                        <a href="{% url 'OregonWildlifeClassifier' %}">
                            <div class="hover-overlay"></div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 custom-thumbnail d-flex align-items-stretch">
                    <div class="card project-card zoom">
                        <img src="{% static 'images/cycle_63.gif' %}" class="img-fluid card-img" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Cycle 63</h5>
                            <p class="subtitle"><b>An Interactive Video Game Made for Exercise</b></p>
                            <p class="subtitle">Hardware, Software Development</p>
                        </div>
                        <a href="{% url 'Cycle63' %}">
                            <div class="hover-overlay"></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="container">
                <a href="{% url 'cs_projects' %}" class="btn btn-primary btn-custom btn-custom-large" style="margin-top: 4vh;">See all selected projects</a>
            </div>
        </div>
    </div>
    
</section>

<section id="selected-arts" class="home-selected-arts hide" style="padding-top:20vh;">
    <div class="card text-center mx-auto project-background-card">
        <div class="card-header">
            <h2 class="card-title" style="color: white;">  Artwork Highlights 🖌</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-4 custom-thumbnail">
                    <div class="card project-card zoom">
                        <img  src="https://images.pexels.com/photos/62307/air-bubbles-diving-underwater-blow-62307.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="img-fluid card-img"  alt="">
                        <div class="card-body">
                            <h5 class="card-title">Title</h5>
                            <p>A blah</p>
                        </div>
                        <a href="https://images.pexels.com/photos/62307/air-bubbles-diving-underwater-blow-62307.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="fancybox" rel="ligthbox">
                            <div class="hover-overlay"></div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 custom-thumbnail">
                    <div class="card project-card zoom">
                        <img  src="https://images.pexels.com/photos/38238/maldives-ile-beach-sun-38238.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="img-fluid card-img"  alt="">
                        <div class="card-body">
                            <h5 class="card-title">Title</h5>
                            <p>A blah</p>
                        </div>
                        <a href="https://images.pexels.com/photos/38238/maldives-ile-beach-sun-38238.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="fancybox" rel="ligthbox">
                            <div class="hover-overlay"></div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 custom-thumbnail">
                    <div class="card project-card zoom">
                        <img  src="https://images.pexels.com/photos/158827/field-corn-air-frisch-158827.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img-fluid card-img"  alt="">
                        <div class="card-body">
                            <h5 class="card-title">Title</h5>
                            <p>A blah</p>
                        </div>
                        <a href="https://images.pexels.com/photos/158827/field-corn-air-frisch-158827.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="fancybox" rel="ligthbox">
                            <div class="hover-overlay"></div>
                        </a>
                    </div>
                </div>
           </div>
        </div>
        <div class="container">
            <a href="{% url 'art_projects' %}" class="btn btn-primary btn-custom btn-custom-large" style="margin-top: 4vh;">See all selected artworks</a>
        </div>
    </div>
</section>
 
<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
<script>
    $(document).ready(function(){
        $(".fancybox").fancybox({
                openEffect: "none",
                closeEffect: "none"
            });
            
            $(".zoom").hover(function(){
                
                $(this).addClass('transition');
            }, function(){
                
                $(this).removeClass('transition');
            });
    });

    $(document).scroll(function() {

        introID = document.getElementById("intro");
        csID = document.getElementById("cs-selected");
        artID = document.getElementById("selected-arts");

        var myScrollFunc = function () {
            var y = window.scrollY;
            if(y < introID.offsetTop + introID.offsetHeight - 200) {
                introID.className = "home-intro show";
                csID.className = "home-cs-selected hide";
                artID.className = "home-selected-arts hide";
            }
            else if (y < csID.offsetTop + csID.offsetHeight - 200) {
                introID.className = "home-intro hide";
                csID.className = "home-cs-selected show";
                artID.className = "home-selected-arts hide";
            } else {
                introID.className = "home-intro hide";
                csID.className = "home-cs-selected hide";
                artID.className = "home-selected-arts show";
            }
        };

        window.addEventListener("scroll", myScrollFunc);
        });
        
</script>

{% endblock %}