{% extends "base.html" %}
{% block content %}
{% load static %}

<div id="rectangle"></div>

<section class="home-hero">
    <div class="card shadow-lg rounded mb-3 intro-card" style="max-width: 85vw;">
        <div class="row no-gutters">
            <div class="col-md-6">
                <div id="carouselControls" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="intro_image" src="{% static 'images/profile_photo2.jpg' %}" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="intro_image" src="{% static 'images/software.jpg' %}" alt="Second slide">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Software</h5>
                                <p>
                                C/C++, Python, Java, Ruby, ActionScript3, HTML/CSS/Javascript
                                </p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="intro_image" src="{% static 'images/hardware.jpg' %}" alt="Third slide">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Hardware</h5>
                                <p>
                                Wires and sensors, Verilog/System Verilog, Assembly, Arduino
                                </p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="intro_image" src="{% static 'images/watercolor.jpg' %}" alt="Third slide">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Visual Arts</h5>
                                <p>
                                Digital designs, Photoshop, watercolor, oil painting, sketching
                                </p>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card-body" style="padding: 0rem 0rem 0rem 3vw;">
                    <h1 class="card-title custom-title">
                        I<span>'</span>m Helen<br>Dai<span>.</span>
                    </h1>
                    <p class="card-text" style="margin-top: 2vw; color: #463c35;">Cornell Tech at Cornell University '22 MEng. in Computer Science</p>
                    <p class="card-text" style="color: #463c35;">University of Toronto '21 BASc. in Computer Engineering</p>
                    <a href="#cs-portfolio" class="btn btn-primary btn-custom">See my CS work</a>
                    <a href="#art-portfolio" class="btn btn-primary btn-custom">See my art work</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about" class="home-about" style="scroll-margin-top: 2vw;">
    <div class="side-by-side">
        <div class="row no-gutters">
            <div class="col-3" style="padding-left: 15vw; padding-top: 5vw;">
                <img class="img-thumbnail rounded-circle" src="{% static 'images/cornell.jpg' %}" style="width: 8vw; height: 8vw; object-fit: cover;">
                <div class="caption">
                    <p> Cornell 2021-2022 </p>
                </div>
                <img class="img-thumbnail rounded-circle" src="{% static 'images/uoft.jpg' %}" style="width: 8vw; height: 8vw; object-fit: cover;">
                <div class="caption">
                    <p> UToronto 2016-2021 </p>
                </div>
                <img class="img-thumbnail rounded-circle" src="{% static 'images/thales.jpg' %}" style="width: 8vw; height: 8vw; object-fit: cover;">
                <div class="caption">
                    <p> Thales Canada 2018 </p>
                </div>
            </div>
            <div class="col-3" style="padding-left: 2vw; padding-top: 10vw;">
                <img class="img-thumbnail rounded-circle" src="{% static 'images/fullmonteweb.png' %}" style="width: 8vw; height: 8vw; object-fit: cover;">
                <div class="caption">
                    <p> FullMonteWeb 2020-2021 </p>
                </div>
                <img class="img-thumbnail rounded-circle" src="{% static 'images/intel.jpg' %}" style="width: 8vw; height: 8vw; object-fit: cover;">
                <div class="caption">
                    <p> Intel 2019-2020 </p>
                </div>
                <img class="img-thumbnail rounded-circle" src="{% static 'images/codezilla.png' %}" style="width: 8vw; height: 8vw; object-fit: cover;">
                <div class="caption">
                    <p> CodeZilla 2016-2018 </p>
                </div>
            </div>
            <div class="col-6">
                <div class="card text-center ml-auto about-card">
                    <div class="card-header">
                        <h2 class="card-title" style="color: white;"> About Me </h2>
                    </div>
                    <div class="card-body">
                        <p class="card-text">I am a Computer Engineering undergraduate at the University of Toronto (U of T) and an experienced programming tutor. I started coding in the summer of Grade 10 and have since then been very passionate about Computer Science and Engineering as a whole. On this site, you will see some of my selected projects from the past, including single player and multiplayer video games, a chess game AI, and some hardware applications implemented on the FPGA.</p>
                        <p class="card-text">During U of T's Professional Experience Year Program (PEY), I interned at Intel San Jose Campus for a full year as a Software Engineering intern. During the summer of 2020, I also did research at U of T with Professor Vaughn Betz. Please check out my resume to see more details about my past academic and professional experiences.</p>
                        <p class="card-text">My focuses of study are Computer Vision, Computer Graphics, and Human-Computer Interaction.</p>
                        <a href="#" class="btn btn-primary btn-custom"> Check out my video intro </a>
                    </div>
                    <div class="card-footer text-muted">
                        Skills: 
                    </div>
                </div>
            </div>
    </div>
</section>

<section id="cs-portfolio" class="home-cs-portfolio" style="scroll-margin-top: 5vw;">
    <div class="card text-center mx-auto cs-projects-card">
        <div class="card-header">
            <h2 class="card-title" style="color: white;"> Software/Hardware Projects </h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-xs-6 custom-thumbnail">
                    <h5 class="project-caption">FullMonteWeb</h5>
                    <div class="cs-gallery zoom">
                        <img src="https://mdbootstrap.com/img/screens/yt/screen-video-1.jpg" class="img-fluid gallery-img" alt="">
                        <a href="{% url 'FullMonteWeb' %}">
                            <div class="hover-overlay">
                                <p class="hover-caption">See details</p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6 custom-thumbnail">
                    <h5 class="project-caption">PocketTravel</h5>
                    <div class="cs-gallery zoom">
                        <a href="{% url 'PocketTravel' %}">
                            <img src="{% static 'images/pocket_travel.gif' %}" class="img-fluid gallery-img" alt="">
                            <div class="hover-overlay">
                                <p class="hover-caption">See details</p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6 custom-thumbnail">
                    <h5 class="project-caption">Reversi AI</h5>
                    <div class="cs-gallery zoom">
                        <a href="{% url 'ReversiAI' %}">
                            <img src="{% static 'images/reversi_ai.gif' %}" class="img-fluid gallery-img" alt="">
                            <div class="hover-overlay">
                                <p class="hover-caption">See details</p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6 custom-thumbnail">
                    <h5 class="project-caption">GunmanJump</h5>
                    <div class="cs-gallery zoom">
                        <a href="{% url 'GunmanJump' %}">
                            <img src="{% static 'images/gunman_mahem.gif' %}" class="img-fluid gallery-img" alt="">
                            <div class="hover-overlay">
                                <p class="hover-caption">See details</p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6 custom-thumbnail">
                    <h5 class="project-caption">BubbleMania</h5>
                    <div class="cs-gallery zoom">
                        <a href="{% url 'BubbleMania' %}">
                            <img src="{% static 'images/bubble_mania.gif' %}" class="img-fluid gallery-img" alt="">
                            <div class="hover-overlay">
                                <p class="hover-caption">See details</p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6 custom-thumbnail">
                    <h5 class="project-caption">Cycle63</h5>
                    <div class="cs-gallery zoom">
                        <a href="{% url 'Cycle63' %}">
                            <img src="{% static 'images/cycle_63.gif' %}" class="img-fluid gallery-img" alt="">
                            <div class="hover-overlay">
                                <p class="hover-caption">See details</p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6 custom-thumbnail">
                    <h5 class="project-caption">TunerPro</h5>
                    <div class="cs-gallery zoom">
                        <a href="{% url 'TunerPro' %}">
                            <img src="{% static 'images/tuner_pro.gif' %}" class="img-fluid gallery-img" alt="">
                            <div class="hover-overlay">
                                <p class="hover-caption">See details</p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6 custom-thumbnail">
                    <h5 class="project-caption">Oregon Wildlife Classifier</h5>
                    <div class="cs-gallery zoom">
                        <a href="{% url 'OregonWildlifeClassifier' %}">
                            <img src="https://mdbootstrap.com/img/screens/yt/screen-video-1.jpg" class="img-fluid gallery-img" alt="">
                            <div class="hover-overlay">
                                <p class="hover-caption">See details</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="art-portfolio" class="home-art-portfolio" style="scroll-margin-top: 5vw;">
    <div class="card text-center mx-auto art-projects-card">
        <div class="card-header">
            <h2 class="card-title" style="color: white;"> Visual Arts/Design Projects </h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-xs-6 custom-thumbnail">
                    <a href="https://images.pexels.com/photos/62307/air-bubbles-diving-underwater-blow-62307.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="fancybox" rel="ligthbox">
                        <img  src="https://images.pexels.com/photos/62307/air-bubbles-diving-underwater-blow-62307.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="zoom img-fluid gallery-img"  alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 custom-thumbnail">
                    <a href="https://images.pexels.com/photos/38238/maldives-ile-beach-sun-38238.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"  class="fancybox" rel="ligthbox">
                        <img  src="https://images.pexels.com/photos/38238/maldives-ile-beach-sun-38238.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="zoom img-fluid gallery-img"  alt="">
                    </a>
                </div>
                
                <div class="col-lg-3 col-md-4 col-xs-6 custom-thumbnail">
                    <a href="https://images.pexels.com/photos/158827/field-corn-air-frisch-158827.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="fancybox" rel="ligthbox">
                        <img  src="https://images.pexels.com/photos/158827/field-corn-air-frisch-158827.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="zoom img-fluid gallery-img"  alt="">
                    </a>
                </div>
                
                <div class="col-lg-3 col-md-4 col-xs-6 custom-thumbnail">
                    <a href="https://images.pexels.com/photos/302804/pexels-photo-302804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="fancybox" rel="ligthbox">
                        <img  src="https://images.pexels.com/photos/302804/pexels-photo-302804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="zoom img-fluid gallery-img"  alt="">
                    </a>
                </div>
                
                 <div class="col-lg-3 col-md-4 col-xs-6 custom-thumbnail">
                    <a href="https://images.pexels.com/photos/1038914/pexels-photo-1038914.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="fancybox" rel="ligthbox">
                        <img  src="https://images.pexels.com/photos/1038914/pexels-photo-1038914.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="zoom img-fluid gallery-img"  alt="">
                    </a>
                </div>
                
                 <div class="col-lg-3 col-md-4 col-xs-6 custom-thumbnail">
                    <a href="https://images.pexels.com/photos/414645/pexels-photo-414645.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="fancybox" rel="ligthbox">
                        <img  src="https://images.pexels.com/photos/414645/pexels-photo-414645.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="zoom img-fluid gallery-img"  alt="">
                    </a>
                </div>
                
                 <div class="col-lg-3 col-md-4 col-xs-6 custom-thumbnail">
                    <a href="https://images.pexels.com/photos/56005/fiji-beach-sand-palm-trees-56005.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="fancybox" rel="ligthbox">
                        <img  src="https://images.pexels.com/photos/56005/fiji-beach-sand-palm-trees-56005.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="zoom img-fluid gallery-img"  alt="">
                    </a>
                </div>
                
                 <div class="col-lg-3 col-md-4 col-xs-6 custom-thumbnail">
                    <a href="https://images.pexels.com/photos/1038002/pexels-photo-1038002.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="fancybox" rel="ligthbox">
                        <img  src="https://images.pexels.com/photos/1038002/pexels-photo-1038002.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="zoom img-fluid gallery-img"  alt="">
                    </a>
                </div>
           </div>
        </div>
    </div>
</section>
 
<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
<script>
    $(document).ready(function(){
        $(".fancybox").fancybox({
                openEffect: "none",
                closeEffect: "none"
            });
            
            $(".zoom").hover(function(){
                
                $(this).addClass('transition');
            }, function(){
                
                $(this).removeClass('transition');
            });
    });
        
</script>

{% endblock %}