{% extends "projects_base.html" %}

{% block project_image %}
{% load static %}
    <img class="project-intro-img" src="{% static 'images/PocketTravelLogo.png' %}" alt="">
{% endblock %}

{% block sidebar_content %}
{% load static %}
    <li class="nav-item active">
        <a class="nav-link" href="#intro-section">Introduction</a>
    </li>
    <nav class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link ml-3 my-1" href="#prob-subsection">Problem</a>
        </li>
        <li class="nav-item">
            <a class="nav-link ml-3 my-1" href="#solution-subsection">Our Solution</a>
        </li>
    </nav>
    <li class="nav-item">
        <a class="nav-link" href="#design-section">Design</a>
    </li>
    <nav class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link ml-3 my-1" href="#features-subsection">Features</a>
        </li>
        <li class="nav-item">
            <a class="nav-link ml-3 my-1" href="#algo-subsection">Algorithms</a>
        </li>
        <li class="nav-item">
            <a class="nav-link ml-3 my-1" href="#analysis-subsection">Analysis</a>
        </li>
    </nav>
    <li class="nav-item">
        <a class="nav-link" href="#contrib-section">My Contributions</a>
    </li>
{% endblock %}

{% block project_content %}
{% load static %}
    <div class="card text-center mx-auto team-info-card">
        <div class="card-body">
            <p><b>Team Members:</b> Xiao Ying (Helen) Dai, Jue Liu, Yihan Tian </p>
            <p><b>Duration:</b> Jan 2018 - Apr 2018 (4 months) </p>
            <p><b>Skills/Tools:</b> C++, EzGL </p>
            <p><b>Outcome:</b> Top 10 in the 2018 ECE297 Leaderboard </p>
            <p><b>My Role:</b> UI designer, algorithm researcher, backend developer </p>
        </div>
    </div>

    <!-- Intro -->
    <section class="main-section" id="intro-section">
        <h1>Introduction</h1>
        <!-- Problem -->
        <section class="sub-section" id="prob-subsection">
            <h4>Problem</h4>
            <p>Our inspiration comes from the observation of confused-looking urban backpackers trying to find their way in Union Station everyday. Most of them come from other cities for an adventure and must rely on the subway system to get from place to place. <mark>Physical maps often get outdated and they are a hassle to carry around, especially if these backpackers have multiple destinations on their plan. On the other hand, a digital map often require access to a data plan</mark>, which is unreasonable if the backpackers are staying at a forign city for only a few days. In addition, patchy internet connections in the wild (such as hicking trails) can lead to laggy digital maps. This is a common issue people face when they are travelling in another city, so how can we resolve it?</p>
        </section>
        <!-- Solution -->
        <section class="sub-section" id="solution-subsection">
            <h4>Our Solution</h4>
            <p>Our team presents PocketTravel, <mark>a fast mapping software that provides detialed offline maps for travelling backpackers</mark>. The current prototype is implemented as a desktop application, but ultimately we would like this to work on a hand-held device as well. All databases used to build this application were provided by the ECE department at the University of Toronto.</p>
        </section>
    </section>

    <!-- Design -->
    <section class="main-section" id="design-section">
        <h1>Design</h1>
        <!-- Features -->
        <section class="sub-section" id="features-subsection">
            <h4>Features</h4>
            <div class="row section-element">
                <div class="col-lg-6 my-auto">
                    <div class="page">
                        <div class="titlebar">
                            <div class="dot closes"></div><div class="dot minimise"></div><div class="dot maximise"></div><div class="location">Toronto, Canada</div>
                        </div>
                        <a href="https://i.ibb.co/xSNLyGk/levels-of-details.png" class="fancybox" rel="ligthbox">
                            <img class="desc-image" src="https://i.ibb.co/xSNLyGk/levels-of-details.png" alt="subpage item">
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 my-auto vertical-center">
                    <p><b>1. Levels of Detail</b><br>A typical city contains thousands of features, but showing all of them can be overwhelming and slow to render. From observations and experiences, <mark>users typically use the map for different purposes at different zoom levels</mark>. At lower levels, users can collect large scale data, such as the coverage of large lakes. Zooming in, users can see highways and major streets to plan out long-distance routes. Zooming in further, PocketTravel starts drawing all the streets and buildings in between. Because we are following this <mark>user psychology</mark>, we have made the map more efficient and predictable for users while navigating through it.</p>    
                </div>
            </div>
            <div class="row section-element">
                <div class="col-lg-6 my-auto vertical-center">
                    <p><b>2. Library of Maps</b><br>PocketTravel supports maps of <mark>19 major cities from countries worldwide</mark>. From the side bar, users can click on “change maps” to summon up a window with a list of those cities. When the desired city is selected, the corresponding map will automatically launch up. We have chosen to keep the graphics interface at a minimal for efficiency and ease of use. Typical cities are loaded within 2 seconds and more complex ones, such as Tokyo, can be loaded within 30 seconds. </p>
                </div>
                <div class="col-lg-6 my-auto">
                    <div class="page">
                        <div class="titlebar">
                            <div class="dot closes"></div><div class="dot minimise"></div><div class="dot maximise"></div><div class="location" id="location">Toronto, Canada</div>
                        </div>
                        <a href="https://i.ibb.co/z4wHCYg/change-map.gif" class="fancybox" rel="ligthbox">
                            <img class="desc-image" src="https://i.ibb.co/z4wHCYg/change-map.gif" alt="subpage item">
                        </a>
                    </div>
                </div>
            </div>
            <div class="row section-element">
                <div class="col-lg-6 my-auto">
                    <div class="page">
                        <div class="titlebar">
                            <div class="dot closes"></div><div class="dot minimise"></div><div class="dot maximise"></div><div class="location">Toronto, Canada</div>
                        </div>
                        <a href="https://i.ibb.co/hVT6TqL/autocomplete.gif" class="fancybox" rel="ligthbox">
                            <img class="desc-image" src="https://i.ibb.co/hVT6TqL/autocomplete.gif" alt="subpage item">
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 my-auto vertical-center">
                    <p><b>3. Search Bar with Auto Complete</b><br>The search bar is by default hidden so that the screen usage can be maximized, but it can be summoned upon toggling the "Find" button. Users can use it to search the intersection of two different streets, then PocketTravel will quickly locate it on the map (it will <mark>zoom in and highlight the intersection of interest</mark>). We have also implemented the autocomplete feature for convenience.</p>
                </div>
            </div>
            <div class="row section-element">
                <div class="col-lg-6 my-auto vertical-center">
                    <p><b>4. Search History</b><br>Each time after an intersection is looked up, the search history will be recorded for users to recall at a later time.</p>
                </div>
                <div class="col-lg-6 my-auto">
                    <div class="page">
                        <div class="titlebar">
                            <div class="dot closes"></div><div class="dot minimise"></div><div class="dot maximise"></div><div class="location">Toronto, Canada</div>
                        </div>
                        <a href="https://i.ibb.co/hF1S45r/search-history.gif" class="fancybox" rel="ligthbox">
                            <img class="desc-image" src="https://i.ibb.co/hF1S45r/search-history.gif" alt="subpage item">
                        </a>
                    </div>
                </div>
            </div>
            <p><b>5. Best Route Planning</b></p>
            <p>PocketTravel can calculate the best route between two intersections and provide the directions. This can be done in 3 ways: <mark>by selecting two points on the map, searching the two intersections, or a combination of both</mark>. The shortest route will be highlighted and users can see step-by-step instructions in words at the bottom of the screen. Users can also click on multiple points on the map for a <mark>multi-stop route planning</mark>.</p>
            <div class="row section-element">
                <div class="col-lg-6 my-auto">
                    <div class="page">
                        <div class="titlebar">
                            <div class="dot closes"></div><div class="dot minimise"></div><div class="dot maximise"></div><div class="location">Toronto, Canada</div>
                        </div>
                        <a href="https://i.ibb.co/m6GgYTR/direction-search.gif" class="fancybox" rel="ligthbox">
                            <img class="desc-image" src="https://i.ibb.co/m6GgYTR/direction-search.gif" alt="subpage item">
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 my-auto">
                    <div class="page">
                        <div class="titlebar">
                            <div class="dot closes"></div><div class="dot minimise"></div><div class="dot maximise"></div><div class="location">Toronto, Canada</div>
                        </div>
                        <a href="https://i.ibb.co/104CtrQ/directions-click.gif" class="fancybox" rel="ligthbox">
                            <img class="desc-image" src="https://i.ibb.co/104CtrQ/directions-click.gif" alt="subpage item">
                        </a>
                    </div>
                </div>
            </div>
            <p><b>6. Points of Interest (POI)</b><br>We use different colors to represent different types of POIs. When hovering over a POI, users are able to see its name on screen. These features help backpackers to find specific venues easier.</p>
            <div class="col-lg-6 my-auto" style="margin: 20px auto;">
                <div class="page">
                    <div class="titlebar">
                        <div class="dot closes"></div><div class="dot minimise"></div><div class="dot maximise"></div><div class="location">Toronto, Canada</div>
                    </div>
                    <a href="https://i.ibb.co/gt7fQ84/hover-mouse.gif" class="fancybox" rel="ligthbox">
                        <img class="desc-image" src="https://i.ibb.co/gt7fQ84/hover-mouse.gif" alt="subpage item">
                    </a>
                </div>
            </div>
            <p><b>7. Subway Lines and Stations</b></p>
            <p>By clicking the "Show Subway" button, subway lines will show up on the map. Different lines are in different colors, and when zoomed in to a certain level, small icons become visible to indicate the location of each subway station.</p>
            <div class="row section-element">
                <div class="col-lg-6 my-auto">
                    <div class="page">
                        <div class="titlebar">
                            <div class="dot closes"></div><div class="dot minimise"></div><div class="dot maximise"></div><div class="location">Tokyo, Japan</div>
                        </div>
                        <a href="https://i.ibb.co/dmmmwSt/subway.jpg" class="fancybox" rel="ligthbox">
                            <img class="desc-image" src="https://i.ibb.co/dmmmwSt/subway.jpg" alt="subpage item">
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 my-auto">
                    <div class="page">
                        <div class="titlebar">
                            <div class="dot closes"></div><div class="dot minimise"></div><div class="dot maximise"></div><div class="location">Toronto, Canada</div>
                        </div>
                        <a href="https://i.ibb.co/q5YyJVB/subway-icons.jpg" class="fancybox" rel="ligthbox">
                            <img class="desc-image" src="https://i.ibb.co/q5YyJVB/subway-icons.jpg" alt="subpage item">
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Algorithms -->
        <section class="sub-section" id="algo-subsection">
            <h4>Algorithms</h4>
            <p>One of our major challenges was to implement an algorithm that finds the shortest path between multiple destinations, or better known as the Travelling Salesman Problem.</p>
            <p><b>Multi-Destination Planning: Greedy, Two-Opt, and Simulated Annealing</b></p>
            <p>For multi-destination planning, we first used a greedy approach, chosing a random starting point and using the A* algorithm to fetch the nearest destination as the next point to visit, until we visit all the destinations. However, the paths we obtained from this approach are not good enough because it always gets stuck at a local minimum, so we wanted to <mark>find a way to jump out of local minimum and eventually reach the global minimum</mark>.</p>
            <div class="row section-element">
                <div class="col-lg-6 my-auto" style="margin: 20px auto;">
                    <a href="https://i.ibb.co/HngDbNW/greedy.gif" class="fancybox" rel="ligthbox">
                        <img class="desc-image" src="https://i.ibb.co/HngDbNW/greedy.gif" alt="subpage item">
                    </a>
                </div>
            </div>
            <p>Once an “optimal” path is found from greedy, using 2-opt, we cut the path into 3 pieces and then we reconnect the three path segments. We created <mark>12 different types of recombination in total. In addition to this, we also implemented simulated annealing</mark>. At first the temperature is high, and it will accept the solution in a large range, so the possibility of getting a worse solution than the local minimum is high. However, the temperature will adjust and decrease over time ,so that it will gradually narrow down to near where the global minimum is.</p>
            <div class="row section-element">
                <div class="col-lg-6 my-auto" style="margin: 20px auto;">
                    <a href="https://i.ibb.co/Scchx8R/2opt.gif" class="fancybox" rel="ligthbox">
                        <img class="desc-image" src="https://i.ibb.co/Scchx8R/2opt.gif" alt="subpage item">
                    </a>
                </div>
                <div class="col-lg-6 my-auto" style="margin: 20px auto;">
                    <a href="https://i.ibb.co/vQfPhgw/annealing.png" class="fancybox" rel="ligthbox">
                        <img class="desc-image" src="https://i.ibb.co/vQfPhgw/annealing.png" alt="subpage item">
                    </a>
                </div>
            </div>
            <p><b>Multi-Start and Multithreading</b></p>
            <p>To further optimize for the final competition, we chose to implement multi-start with multithread. Since we were running on a 8-core processor for the competition portion of this project, we decided to <mark>choose the best 8 solutions obtained from the greedy search, loop through each as a candidate starting point on a separate thread, then so two-opt and simulated annealing simultaneously on each candidate</mark>.</p>
            <div class="row section-element">
                <div class="col-lg-6 my-auto" style="margin: 20px auto;">
                    <a href="https://i.ibb.co/VDR7D3G/multithread.png" class="fancybox" rel="ligthbox">
                        <img class="desc-image" src="https://i.ibb.co/VDR7D3G/multithread.png" alt="subpage item">
                    </a>
                </div>
            </div>
        </section>
        <section class="sub-section" id="analysis-subsection">
            <h4>Algorithm Analysis</h4>
            <p>By implementing 2-opt and simulated annealing, this resulted in an average of <mark>8196 seconds traveling time decrease for the paths found</mark>. By using multi-start and multithreading, we ended up with an <mark>additional improvement of 4422 seconds decrease in average traveling time</mark>.</p>
            <div class="row section-element">
                <div class="col-lg-6 my-auto" style="margin: 20px auto;">
                    <a href="https://i.ibb.co/JRBQQff/multithread-improvement.png" class="fancybox" rel="ligthbox">
                        <img class="desc-image" src="https://i.ibb.co/JRBQQff/multithread-improvement.png" alt="subpage item">
                    </a>
                </div>
            </div>
        </section>
    </section>

    <section class="main-section" id="contrib-section">
        <h1>My Contributions</h1>
    </section>

    <script>
        $(function () { 
        count = 0; 
        wordsArray = ["Toronto, Canada", "Toronto, Canada", "Toronto, Canada", "Beijing, China", "Beijing, China"]; 
        setInterval(function () { 
            count++; 
            $("#location").fadeOut(0, function () { 
                $(this).text(wordsArray[count % wordsArray.length]).fadeIn(0); 
            }); 
        }, 1460); 
    });
    </script>
        
{% endblock %}