{% extends "base.html" %}
{% block content %}
{% load static %}
<body class="scrollspy-body" data-spy="scroll" data-target="#sidebar-menu" data-offset="200">
    <div class="project-intro">
        {% block project_image %}{% endblock %}
    </div>

    <section class="project-content" id="project-content">
        <div class="row no-gutters">
            <div class="col-sm-2" style="margin-left: 5%;">
                <nav class="navbar sidebar-nav hide" id="sidebar-menu">
                    <ul class="nav nav-pills flex-column">
                        {% block sidebar_content %}{% endblock %}
                    </ul>
                </nav>
            </div>
            <div class="col pt-2" style="margin-right: 5%;">
                <div class="description-textbox">
                    {% block project_content %}{% endblock %}
                </div>
            </div>
        </div>
    </section>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>

    $(document).scroll(function() {

        contentID = document.getElementById("project-content");
        sidebarID = document.getElementById("sidebar-menu");

        var myScrollFunc = function () {
            var y = window.scrollY;
            if(y > contentID.offsetTop - 200 && y < contentID.offsetTop + contentID.offsetHeight - 600) {
                sidebarID.className = "navbar sidebar-nav show";
            } else {
                sidebarID.className = "navbar sidebar-nav hide";
            }
        };

        window.addEventListener("scroll", myScrollFunc);
    });

    $(window).scroll(function () {
        var docViewTop = $(window).scrollTop() + 100;
        var docViewBottom = docViewTop + $(window).height();

        $( "mark" ).each(function(){
            var elemTop = $(this).offset().top;
            var elemBottom = elemTop + $(this).height();
            if ((elemBottom <= docViewBottom) && (elemTop >= docViewTop)) {
                $(this).addClass('start');
            } else {
                $(this).removeClass('start');
            }
        });
    });
        
</script>

<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
<script>
    $(document).ready(function(){
        $(".fancybox").fancybox({
                openEffect: "none",
                closeEffect: "none",
                autoScale: true,
                minHeight: 600
            });
    });  
</script>

{% endblock %}