@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700;800;900&display=swap');

/* global settings
====================*/

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14pt;
    background-color: white;
    background-image:
        linear-gradient(
        to right, 
        #f3e2ce,
        #f3e2ce 60%,
        #d8dfd6 60%,
        #d8dfd6 40%,
        #d8dfd6 40%
        );
}

img {
    /* set max width for images so they don't run off the screen */
    margin: 0, auto;
    max-width: 100%;
    height: auto;
}

.container {
    /* Make sure the text doesn't touch the side of the screen */
    width: 95%;
    margin: 0 auto;
    text-align: center;
}

.btn-custom {
    margin-top: 2vw;
    background-color: #778e90;
    border: none;
    width: 13vw;
    font-size: 1.3vw;
}

.btn-custom:hover {
    background-color: white;
    color: #778e90;
    border: 2px solid #778e90;
}

.btn-custom:focus,
.btn-custom:active {
    background-color: #41585a;
    border: none;
}

.h5 {
    font-size: 12pt;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

/* nav bar
====================*/
.text-blue {
    color: #d8dfd6;
}

.nav-link {
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-weight: 600;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-box {
    display: none;
    position: absolute;
}

.dropdown-content {
    margin-top: .5vw;
    background: #778e90;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    padding: 12px 20px;
}

.dropdown-content a {
    text-transform: none;
    color: white;
}

.dropdown:hover .dropdown-box {
    display: block;
}

.dropdown:hover,
.dropdown:focus {
    font-weight: 700;
}

/* home page
====================*/

.custom-title {
    font-size: 6vw;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    line-height: 1;
    color: #463c35;
}

.custom-title span {
    color: #778e90;
}

h2.card-title {
    font-size: 2vw;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    line-height: 1;
}

p.card-text {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    line-height: 2;
}

.intro-card {
    margin-top: 4vw;
    padding-top: 4vw;
    padding-bottom: 4vw;
    padding-left: 3vw;
    padding-right: 2vw;
}

/* about page
====================*/

.about-card {
    margin-top: 3vw;
    background-color: #b3c0b9;
}

#rectangle{
    width: 3vw;
    height: 40vw;
    border-radius: 50px;
    background: #ad9a84;
    background-image: linear-gradient(to top, #ad9a84, #f3e2ce);
    position: absolute;
    top: 40vw;
    left: 24vw;
}

/* galaries common
====================*/
.project-caption {
    color: white;
    margin-bottom: 10px;
}

.custom-thumbnail{
    margin-bottom: 30px;
}

img.gallery-img {
    width: 100%;
    height: 200px;
    border-radius:5px;
    object-fit:cover;
}

.zoom {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}

.transition {
    -webkit-transform: scale(1.1); 
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

/* CS projects page
====================*/

.cs-projects-card {
    max-width: 90vw;
    margin-top: 3vw;
    background-color: #ad9a84;
}

.cs-gallery {
    overflow: hidden;
    position: relative;
}

.cs-gallery .hover-overlay {
    width: 100%;
    height: 100%;
    border-radius:5px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
}

.cs-gallery .hover-caption {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    opacity: 0;
    color: white;
}

.cs-gallery:hover .hover-overlay {
    background: rgba(0, 0, 0, 0.7);
}

.cs-gallery:hover .hover-caption {
    opacity: 1;
}

/* art projects page
====================*/

.art-projects-card {
    max-width: 90vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
    background-color: #b3c0b9;
}

/* contact/footer
====================*/
footer {
    background-color: #778e90;
}

footer .footer-copyright {
    background-color: #426164;
    color: white;
}

.contact-card {
    padding-top: 5vh;
}

.contact-card h2 {
    font-weight: 600;
}