@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700;800;900&display=swap');

/* global settings
====================*/

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14pt;
    background-color: white;

}

img {
    /* set max width for images so they don't run off the screen */
    margin: 0, auto;
    max-width: 100%;
    height: auto;
}

.container {
    /* Make sure the text doesn't touch the side of the screen */
    width: 95%;
    margin: 0 auto;
    text-align: center;
}

.container2 {
    /* Make sure the text doesn't touch the side of the screen */
    width: 85%;
    margin: 0 auto;
    padding: 0 auto;
}

.btn-custom {
    background-color: #778e90;
    border: none;
    width: 13vw;
    font-size: 1.3vw;
}

.btn-custom-large {
    background-color: #778e90;
    border: none;
    width: 20vw;
    font-size: 1.6vw;
    margin: 0 0 5vh 0 !important;
    padding: 15px 5px;
}

.btn-custom:hover {
    background-color: white;
    color: #778e90;
    border: 2px solid #778e90;
}

.btn-custom:focus,
.btn-custom:active {
    background-color: #41585a;
    border: none;
}

.h5 {
    font-size: 12pt;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

.custom-card-text {
    text-align: left;
    line-height: 1 !important;
}

/* nav bar
====================*/
.text-blue {
    color: #d8dfd6;
}

.nav-link {
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-weight: 600;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-box {
    display: none;
    position: absolute;
}

.dropdown-content {
    margin-top: .5vw;
    background: #778e90;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    padding: 12px 20px;
}

.dropdown-content a {
    text-transform: none;
    color: white;
}

.dropdown:hover .dropdown-box {
    display: block;
}

/* home page
====================*/

.custom-title {
    font-size: 6vw;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    line-height: 1;
    color: #463c35;
}

.custom-title span {
    color: #778e90;
}

h2.card-title {
    font-size: 2vw;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    line-height: 1;
}

p.card-text {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    line-height: 2;
}

.home-intro {
    transition: all 1s;
}

.home-cs-selected {
    transition: all 1s;
}

.home-selected-arts {
    transition: all 1s;
}

.hide {
    opacity:0;
    left:-100%;
}
.show {
    opacity:1;
    left:0;
}

/* Intro section
====================*/

.intro-card {
    margin-top: 4vw;
    padding-top: 4vw;
    padding-bottom: 4vw;
    padding-left: 3vw;
    padding-right: 2vw;
}

.intro_image {
    width: 100%;
    height: 50vh;
    border-radius:5px;
    object-fit:cover;
}

.greetings-card {
    margin-top: 3vw;
    background-color: #b3c0b9;
}

/* galaries common
====================*/
.project-caption {
    color: white;
    margin-bottom: 10px;
}

.custom-thumbnail{
    margin-bottom: 30px;
}

img.gallery-img {
    width: 100%;
    height: 300px;
    border-radius:5px;
    object-fit:cover;
}

.zoom {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}

.transition {
    -webkit-transform: scale(1.1); 
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}


/* Selected CS/art projects section
====================*/

.project-background-card {
    max-width: 90%;
    margin-top: 3vw;
    margin-bottom: 3vw;
    background-color: #b3c0b9;
}

.project-card {
    border-radius:10px;
    overflow: hidden;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.project-card .card-body {
    color: #778e90;
}

.card-img {
    width: 100%;
    height: 300px;
    object-fit:cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 1vw;
}

.project-card .hover-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
}

/* about page
====================*/



/* All SW/HW projects page
====================*/

.cs-projects-card {
    max-width: 90%;
    margin-top: 6vh;
    background-color: #b3c0b9;
    margin-bottom: 10vh;
}

.cs-gallery {
    overflow: hidden;
    position: relative;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.cs-gallery .hover-overlay {
    width: 100%;
    height: 100%;
    border-radius:5px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
}

.cs-gallery .hover-caption {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    opacity: 0;
    color: white;
}

.cs-gallery:hover .hover-overlay {
    background: rgba(0, 0, 0, 0.7);
}

.cs-gallery:hover .hover-caption {
    opacity: 1;
}

/* All art projects page
====================*/
.art-projects-card {
    max-width: 90%;
    margin-top: 6vh;
    background-color: #b3c0b9;
    margin-bottom: 10vh;
}

/* Individual projects page
====================*/

.project-intro {
    position: relative;
    margin-bottom: 10%;
    padding: 0;
    height: 90vh;
    width: 100vw;
}

.project-intro-img {
    width: 50%;
    height: auto;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sidebar-nav {
    position: fixed;
    overflow: auto;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    list-style: none;
    transition: all .5s;
}

.sidebar-nav .menu,
.sidebar-nav .sub-menu {
    list-style: none;
}

.sidebar-nav a {
    color: #778e90;
}

/* contact/footer
====================*/
footer {
    background-color: #778e90;
}

footer .footer-copyright {
    background-color: #426164;
    color: white;
}

.contact-card {
    padding-top: 5vh;
}

.contact-card h2 {
    font-weight: 600;
}